Repository tobinjt/bin: changes, and which pre-commit hooks are due for each by the changed paths.
All: basedpyright, black, linkdirs-system-python-test, markdownlint, mypy, pytest

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-builtin-literals
        files: python/.*\.py$
      - id: check-case-conflict
      - id: check-docstring-first
        files: python/.*\.py$
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-vcs-permalinks
      - id: debug-statements
        files: python/.*\.py$
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: local
    hooks:
      # Using this instead of a packaged black check because it's trivial.
      - id: basedpyright
        name: Run `basedpyright`
        language: system
        types: [python]
        entry: basedpyright
      - id: black
        name: Run `black`
        language: system
        types: [python]
        entry: black --diff --check
      - id: linkdirs-system-python-test
        name: Run `linkdirs_test_with_system_python.sh`
        language: system
        files: python/linkdirs.*
        entry: ./python/linkdirs_test_with_system_python.sh
      - id: markdownlint
        name: Run `markdownlint`
        language: system
        types: [markdown]
        entry: markdownlint
      # Using this instead of a packaged mypy check because the packaged one
      # doesn't find modules in virtualenv.
      - id: mypy
        name: Run `mypy`
        language: system
        types: [python]
        entry: mypy --ignore-missing-imports --scripts-are-modules
      - id: pytest
        name: Run `pytest`
        language: system
        pass_filenames: false
        types: [python]
        entry: pytest
      - id: shellcheck
        name: Run `shellcheck`
        language: system
        types: [shell]
        entry: shellcheck
      - id: spellcheck
        stages: [commit-msg]
        name: Check spelling
        language: system
        verbose: true
        entry: spell-check-wrapper
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: python-check-blanket-noqa
      - id: python-check-blanket-type-ignore
      - id: python-check-mock-methods
      - id: python-no-eval
      - id: python-no-log-warn
      - id: python-use-type-annotations
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.3.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [--verbose]
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes

feat: support different users on each host.
  python/run_everywhere.py
  python/run_everywhere_test.py
Due: basedpyright, black, mypy, pytest

fix: update hosts and users.
  python/run_everywhere.py
  python/run_everywhere_test.py
Due: basedpyright, black, mypy, pytest

fix: reject unrecognised hosts or users.
  python/run_everywhere.py
  python/run_everywhere_test.py
Due: basedpyright, black, mypy, pytest

fix: update test modules in Go code.
  update-dependencies
Due: none

fix: lint the output file.
  restart-app-automatically
Due: none

fix: fix formatting to match `plutil -convert xml1` formatting.
  restart-app-automatically
Due: none

feat: migrate from deprecated sub-commands to supported sub-commands.
  restart-app-automatically
Due: none

chore: upgrade `golangci-lint` and `keep-sorted`
  python/pre-commit-snippets/golangci-lint.yaml
  python/pre-commit-snippets/keep-sorted.yaml
Due: none

fix: install `luacheck` with mason rather than brew.
  install-homebrew
Due: none

chore: update pre-commit configuration
  .pre-commit-config.yaml
Due: none

fix: use the extended version of Hugo to fix build workflow.
  python/workflows/hugo-johntobin.ie.yml
Due: none

fix: remove command that is hanging.
  wordpress-install
Due: none

feat: tool to report container usage with percentages.
  docker-resource-usage
Due: none

fix: pass `-L` to find to follow symbolic links.
  update-dotfiles-and-bin
Due: none

chore: upgrade `golangci-lint`
  python/pre-commit-snippets/golangci-lint.yaml
Due: none

feat: remove support for `iMac`, it's being retired.
  .pre-commit-config.yaml
  brew-update-brew-cleanup
  is_x86_64
  python/linkdirs_test_with_system_python.sh
  python/run_everywhere.py
  python/run_everywhere_test.py
  update-everything
  update-lazygit
  update-nvim
  update-python-modules
Due: basedpyright, black, linkdirs-system-python-test, mypy, pytest

fix: `flexget` is retired.
  update-python-modules
Due: none

fix: only enable `pytest` when `*_test.py` exists, rather than just `*.py`.
  python/populate_pre_commit.py
  python/populate_pre_commit_test.py
Due: basedpyright, black, mypy, pytest

fix: restore the check preventing `populate_pre_commit` failure when `pathspec` isn't installed.
  update-everything
Due: none

chore: upgrade `pyrefly-pre-commit`
  python/pre-commit-snippets/pyrefly.yaml
Due: none

fix: check for `https` transport rather than ssh transport, so that directories without an upstream still get pre-commit installed.
  install-pre-commit-hooks
Due: none

fix: properly discard output when checking if git works.
  update-dotfiles-and-bin
Due: none

chore: upgrade `golangci-lint`.
  python/pre-commit-snippets/golangci-lint.yaml
Due: none
