Repository tobinjt/bin: changes, and which pre-commit hooks are due for each by the changed paths.
All: basedpyright, black, linkdirs-system-python-test, markdownlint, mypy, pytest

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-builtin-literals
        files: python/.*\.py$
      - id: check-case-conflict
      - id: check-docstring-first
        files: python/.*\.py$
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-vcs-permalinks
      - id: debug-statements
        files: python/.*\.py$
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: local
    hooks:
      # Using this instead of a packaged black check because it's trivial.
      - id: basedpyright
        name: Run `basedpyright`
        language: system
        types: [python]
        entry: basedpyright
      - id: black
        name: Run `black`
        language: system
        types: [python]
        entry: black --diff --check
      - id: linkdirs-system-python-test
        name: Run `linkdirs_test_with_system_python.sh`
        language: system
        files: python/linkdirs.*
        entry: ./python/linkdirs_test_with_system_python.sh
      - id: markdownlint
        name: Run `markdownlint`
        language: system
        types: [markdown]
        entry: markdownlint
      # Using this instead of a packaged mypy check because the packaged one
      # doesn't find modules in virtualenv.
      - id: mypy
        name: Run `mypy`
        language: system
        types: [python]
        entry: mypy --ignore-missing-imports --scripts-are-modules
      - id: pytest
        name: Run `pytest`
        language: system
        pass_filenames: false
        types: [python]
        entry: pytest
      - id: shellcheck
        name: Run `shellcheck`
        language: system
        types: [shell]
        entry: shellcheck
      - id: spellcheck
        stages: [commit-msg]
        name: Check spelling
        language: system
        verbose: true
        entry: spell-check-wrapper
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: python-check-blanket-noqa
      - id: python-check-blanket-type-ignore
      - id: python-check-mock-methods
      - id: python-no-eval
      - id: python-no-log-warn
      - id: python-use-type-annotations
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.3.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [--verbose]
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes

fix: stop confirming update of main website.
  update-all-wordpress
Due: none

fix: options have been removed, stop accessing them.
  backup-to-rsync-net-lib
Due: none

feat: copy `zizmor.yaml` to `.github/zizmor.yaml` to configure zizmor.
  python/make_github_workflows.py
  python/make_github_workflows_test.py
Due: basedpyright, black, mypy, pytest

fix: improve check for setup being correct.
  update-ssh-auth-sock
Due: none

chore: upgrade `golang/govulncheck-action`
  python/workflows/golang_pre-commit.yml
Due: none

feat: copy `actionlint.yaml` to `.github/actionlint.yaml` to configure `actionlint`.
  python/make_github_workflows.py
  python/make_github_workflows_test.py
  python/workflows/actionlint.yaml
Due: basedpyright, black, mypy, pytest

fix: ensure that non-venv python binary is used when creating a new venv.
  update-python-modules
Due: none

chore: update Github workflows
  .github/actionlint.yaml
  .github/zizmor.yaml
Due: none

feat: remove `rust_publish.yml` if it exists.
  python/make_github_workflows.py
  python/make_github_workflows_test.py
  python/workflows/rust_publish.yml
Due: basedpyright, black, mypy, pytest

fix: stop setting `-x`. Update usage message.
  update-dependencies
Due: none

fix: stop removing `rust_publish.yml`, I have cleaned it up everywhere.
  python/make_github_workflows.py
  python/make_github_workflows_test.py
Due: basedpyright, black, mypy, pytest

feat: moving `${HOME}/bin` to `${HOME}/src/bin`
  backup-single-directory-to-rsync-net
  backup-to-rsync-net
  clone-dotfiles
  igocover
  python/linkdirs_test_with_system_python.sh
  restart-app-automatically
  update-ariane-theme
  update-dotfiles-and-bin
  update-everything
  update-python-modules
Due: linkdirs-system-python-test

chore: `s,actions/checkout@v7.0.0,actions/checkout@v7,` because that's what `Dependabot` wants.
  python/workflows/dependabot_validation.yml
  python/workflows/golang_pre-commit.yml
  python/workflows/hugo-johntobin.ie.yml
  python/workflows/python_pre-commit.yml
  python/workflows/rust_pull_request.yml
  python/workflows/rust_security_audit.yml
Due: none

feat: support running individual tasks.
  update-everything
Due: none

chore: update Github workflows
  .github/workflows/dependabot_validation.yml
  .github/workflows/python_pre-commit.yml
Due: none

fix: move generated files location to be relative to `~/tmp` rather than relative to` PWD`.
  python/.coveragerc
  python/pyproject.toml
  python/pytest.ini
Due: none

fix: move coverage configuration into `pyproject.toml`.
  python/.coveragerc
  python/pyproject.toml
Due: none

fix: stop moving generated files, my `.gitignore` ignores them.
  python/pyproject.toml
Due: none

fix: exclude the release workflow generated by `cargo dist`.
  python/workflows/dependabot.yml
Due: none

feat: exclude files listed in `~/.gitignore.global`
  backup-to-rsync-net-lib
Due: none

feat: debug filters when running interactively.
  backup-to-rsync-net-lib
Due: none

fix: increase bandwidth limit to 100MB.
  backup-to-rsync-net-lib
Due: none

chore: upgrade `actions/setup-go`
  python/workflows/golang_pre-commit.yml
Due: none

fix: completely skip the `iMac`.
  brew-update-brew-cleanup
Due: none

fix: The `wezterm` cask is broken, so skip upgrading casks.
  brew-update-brew-cleanup
Due: none

chore: update Github workflows
  .github/dependabot.yml
Due: none

fix: remove my restic wrapper, I will use `autorestic` or `resticconfig`
  backup-with-restic
Due: none

feat: loop until `git commit` succeeds.
  crontab-edit
Due: none

fix: rename `--debug` to `--dump_config`.
  python/linkdirs.py
  python/linkdirs_test.py
Due: basedpyright, black, linkdirs-system-python-test, mypy, pytest

feat: add `--debug_file_exclusion`
  dotfiles
  python/linkdirs.py
  python/linkdirs_test.py
Due: basedpyright, black, linkdirs-system-python-test, mypy, pytest

chore: upgrade `actions/setup-python`
  python/workflows/python_pre-commit.yml
Due: none

chore: update Github workflows
  .github/workflows/python_pre-commit.yml
Due: none

fix: update packages needed for backups.
  install-homebrew
Due: none

feat: run `git gc`.
  update-routine-code-chores
Due: none

feat: install dust and `eza`.
  install-homebrew
Due: none

fix: open diffs horizontally; put temp file first because that fits my expectations better.
  crontab-edit
Due: none

fix: replace `retry_tool` with `wrap-command`.
  python/retry_tool.py
  python/retry_tool_test.py
  python/run_everywhere.py
  python/run_everywhere_test.py
  retry
  update-all-wordpress
  update-everything
  update-routine-code-chores
Due: basedpyright, black, mypy, pytest

fix: retry 100 times.
  retry
Due: none

chore: upgrade `pyrefly-pre-commit`
  python/pre-commit-snippets/pyrefly.yaml
Due: none

chore: update pre-commit configuration
  .pre-commit-config.yaml
Due: none
