Repository tobinjt/bin: changes, and which pre-commit hooks are due for each by the changed paths.
All: basedpyright, black, linkdirs-system-python-test, markdownlint, mypy, pytest

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-builtin-literals
        files: python/.*\.py$
      - id: check-case-conflict
      - id: check-docstring-first
        files: python/.*\.py$
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-vcs-permalinks
      - id: debug-statements
        files: python/.*\.py$
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: local
    hooks:
      # Using this instead of a packaged black check because it's trivial.
      - id: basedpyright
        name: Run `basedpyright`
        language: system
        types: [python]
        entry: basedpyright
      - id: black
        name: Run `black`
        language: system
        types: [python]
        entry: black --diff --check
      - id: linkdirs-system-python-test
        name: Run `linkdirs_test_with_system_python.sh`
        language: system
        files: python/linkdirs.*
        entry: ./python/linkdirs_test_with_system_python.sh
      - id: markdownlint
        name: Run `markdownlint`
        language: system
        types: [markdown]
        entry: markdownlint
      # Using this instead of a packaged mypy check because the packaged one
      # doesn't find modules in virtualenv.
      - id: mypy
        name: Run `mypy`
        language: system
        types: [python]
        entry: mypy --ignore-missing-imports --scripts-are-modules
      - id: pytest
        name: Run `pytest`
        language: system
        pass_filenames: false
        types: [python]
        entry: pytest
      - id: shellcheck
        name: Run `shellcheck`
        language: system
        types: [shell]
        entry: shellcheck
      - id: spellcheck
        stages: [commit-msg]
        name: Check spelling
        language: system
        verbose: true
        entry: spell-check-wrapper
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: python-check-blanket-noqa
      - id: python-check-blanket-type-ignore
      - id: python-check-mock-methods
      - id: python-no-eval
      - id: python-no-log-warn
      - id: python-use-type-annotations
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.3.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [--verbose]
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes

feat: generate `.github/workflows/publish.yml`
  python/make_rust_github_workflow.py
  python/make_rust_github_workflow_test.py
  python/rust_publish_workflow.template
  python/rust_release_workflow.template
Due: basedpyright, black, mypy, pytest

fix: use a custom argument name space to address typing problems.
  python/make_rust_github_workflow.py
Due: basedpyright, black, mypy, pytest

fix: hard-code `release.yml`, it doesn't need to be user specified.
  python/make_rust_github_workflow.py
  python/make_rust_github_workflow_test.py
Due: basedpyright, black, mypy, pytest

fix: use a custom argument name space to address typing problems.
  python/linkdirs.py
  python/linkdirs_test.py
Due: basedpyright, black, linkdirs-system-python-test, mypy, pytest

fix: use a custom argument name space to address typing problems.
  python/nines.py
Due: basedpyright, black, mypy, pytest

fix: use a custom argument name space to address typing problems.
  python/retry_tool.py
Due: basedpyright, black, mypy, pytest

fix: use a custom argument name space to address typing problems.
  python/run_everywhere.py
Due: basedpyright, black, mypy, pytest

fix: add spaces to match Gemini formatting.
  python/cleanup_gemini_policies.py
  python/cleanup_gemini_policies_test.py
Due: basedpyright, black, mypy, pytest

fix: co-locate Python coding conventions with Python code.
  python/GEMINI.md
Due: markdownlint

fix: rearrange sections, no new content.
  python/GEMINI.md
Due: markdownlint

feat: Lint all Python code with `ruff` and `basedpyright`
  python/GEMINI.md
Due: markdownlint

feat: Use a subclass of `argparse.Namespace` when processing command line arguments
  python/GEMINI.md
Due: markdownlint

fix: improve the names that show up in the Github UI.
  python/rust_publish_workflow.template
  python/rust_release_workflow.template
Due: none

fix: fix tests broken by changing workflow names
  python/make_rust_github_workflow_test.py
Due: basedpyright, black, mypy, pytest

fix: put `--output_shell_completion` in the correct place in the `shebang` line
  python/make_rust_github_workflow.py
  python/make_rust_github_workflow_test.py
Due: basedpyright, black, mypy, pytest

fix: remove unnecessary comments.
  .pre-commit-config.yaml
Due: none

fix: when running `black`, update files rather than requiring a separate manual update
  .pre-commit-config.yaml
Due: none

fix: run Python tests when templates change
  .pre-commit-config.yaml
Due: none

fix: remove some tests that were added to appease `mutmut`, they do not provide sufficient value to keep them and they are flaky when terminal width changes.
  python/linkdirs_test.py
Due: basedpyright, black, linkdirs-system-python-test, mypy, pytest

fix: simplify `test_help` now that only two strings are being checked for.
  python/linkdirs_test.py
Due: basedpyright, black, linkdirs-system-python-test, mypy, pytest

feat: install `pre-push` hook.
  install-pre-commit-hooks
Due: none

fix: install `tree-sitter-cli`, it appears to be necessary for `treesitter` now.
  install-homebrew
Due: none

fix: accept an extra argument to support being invoked from a shebang line.
  python/make_rust_github_workflow.py
  python/make_rust_github_workflow_test.py
Due: basedpyright, black, mypy, pytest

fix: update action versions.
  python/rust_publish_workflow.template
  python/rust_release_workflow.template
Due: none

feat: generate `dependabot` config for Cargo and Actions.
  python/make_rust_github_workflow.py
  python/make_rust_github_workflow_test.py
  python/rust_dependabot.template
Due: basedpyright, black, mypy, pytest

fix: fix substitution to fix command.
  python/rust_publish_workflow.template
Due: none

fix: unconditionally install `commit-msg` hooks.
  install-pre-commit-hooks
Due: none

fix: refactor hook checks into a function for reuse.
  install-pre-commit-hooks
Due: none

feat: validate all existing hooks.
  install-pre-commit-hooks
Due: none

feat: check each hook type for freshness rather than just `pre-commit`.
  install-pre-commit-hooks
Due: none

feat: wrap based on line length rather than on number of entries.
  python/cleanup_gemini_policies.py
  python/cleanup_gemini_policies_test.py
Due: basedpyright, black, mypy, pytest

fix: be specific that `pytest` is the correct way to run Python tests.
  python/GEMINI.md
Due: markdownlint

fix: importing sub-modules is fine.
  python/GEMINI.md
Due: markdownlint

fix: install `cargo-release`
  install-extra-development-tools
Due: none

feat: install `wrap-command`
  install-extra-development-tools
Due: none

feat: generate workflow to run `cargo clippy`, `rustfmt`, and code coverage on pull requests.
  python/make_rust_github_workflow.py
  python/make_rust_github_workflow_test.py
  python/rust_pull_request_workflow.template
Due: basedpyright, black, mypy, pytest

feat: generate workflow for security checks.
  python/make_rust_github_workflow.py
  python/make_rust_github_workflow_test.py
  python/rust_security_audit.template
Due: basedpyright, black, mypy, pytest

fix(refactor): create a reusable module for future Go workflow generation.
  python/github_workflow_utils.py
  python/github_workflow_utils_test.py
  python/make_rust_github_workflow.py
Due: basedpyright, black, mypy, pytest

fix: refactor repetitive code into a loop.
  python/make_rust_github_workflow.py
Due: basedpyright, black, mypy, pytest

feat: generate Go workflows.
  make_go_github_workflow
  python/golang_dependabot.template
  python/golang_workflow.template
  python/make_go_github_workflow.py
Due: basedpyright, black, mypy, pytest
