Repository tobinjt/bin: changes, and which pre-commit hooks are due for each by the changed paths.
All: basedpyright, black, linkdirs-system-python-test, markdownlint, mypy, pytest

basedpyright:
  name: Run `basedpyright`
  language: system
  entry: basedpyright

black:
  name: Run `black`
  language: system
  entry: black --diff --check

linkdirs-system-python-test:
  name: Run `linkdirs_test_with_system_python.sh`
  language: system
  entry: ./python/linkdirs_test_with_system_python.sh

markdownlint:
  name: Run `markdownlint`
  language: system
  entry: markdownlint

mypy:
  name: Run `mypy`
  language: system
  entry: mypy --ignore-missing-imports --scripts-are-modules

pytest:
  name: Run `pytest`
  language: system
  pass_filenames: false
  entry: pytest

feat: migrate to `populate_pre_commit`.
  .pre-commit-config.yaml
Due: none

fix: escape `npm` in commit description to pass spell checks.
  update-dependencies
Due: none

feat: support `pre-commit` in `dependabot`.
  python/make_github_workflows.py
  python/workflows/dependabot.yml
Due: basedpyright, black, mypy, pytest

feat: add support for extra flags in hooks. Add a shebang line for easier regeneration.
  python/populate_pre_commit.py
  python/populate_pre_commit_test.py
Due: basedpyright, black, mypy, pytest

fix: remove unnecessary prefixes from snippet files so it's easier to find the right file.
  python/populate_pre_commit.py
  python/populate_pre_commit_test.py
  python/pre-commit-snippets/actionlint.yaml
  python/pre-commit-snippets/basedpyright.yaml
  python/pre-commit-snippets/black.yaml
  python/pre-commit-snippets/golang-coverage-check.yaml
  python/pre-commit-snippets/golang.yaml
  python/pre-commit-snippets/golangci-lint.yaml
  python/pre-commit-snippets/hooks.yaml
  python/pre-commit-snippets/markdownlint.yaml
  python/pre-commit-snippets/mypy.yaml
  python/pre-commit-snippets/pytest.yaml
  python/pre-commit-snippets/rust.yaml
  python/pre-commit-snippets/shellcheck.yaml
  python/pre-commit-snippets/spellcheck.yaml
Due: basedpyright, black, mypy, pytest

feat: support composer.
  python/make_github_workflows.py
  python/make_github_workflows_test.py
  python/workflows/dependabot.yml
Due: basedpyright, black, mypy, pytest

feat: support `npm`.
  python/make_github_workflows.py
  python/make_github_workflows_test.py
  python/workflows/dependabot.yml
Due: basedpyright, black, mypy, pytest

feat: respect `.gitignore` files.
  python/GEMINI.md
  python/populate_pre_commit.py
  python/populate_pre_commit_test.py
  update-python-modules
Due: basedpyright, black, markdownlint, mypy, pytest

fix: `go.mod` needs to be in the root of the repository, other locations shouldn't trigger inclusion of Go checks.
  python/populate_pre_commit.py
Due: basedpyright, black, mypy, pytest

chore: automatic update of `.pre-commit-config.yaml`
  .pre-commit-config.yaml
Due: none

feat: regenerate pre-commit configuration rather than updating hook versions.
  update-pre-commit-hooks
  update-routine-code-chores
Due: none

fix: add checks to prevent modifying a repository I cannot push to.
  update-routine-code-chores
Due: none

fix: stop updating dependencies, I can rely on Github `dependabot` for that.
  update-dependencies
  update-routine-code-chores
Due: none

fix: stop running `update-dotfiles-and-bin`, no external tooling is invoked now.
  update-routine-code-chores
Due: none

feat: support the `allowRedirection` field.
  python/cleanup_gemini_policies.py
  python/cleanup_gemini_policies_test.py
Due: basedpyright, black, mypy, pytest

fix: use a `TypedDict` for parsed `TOML` for better type checking.
  python/GEMINI.md
  python/cleanup_gemini_policies.py
  python/cleanup_gemini_policies_test.py
Due: basedpyright, black, markdownlint, mypy, pytest

feat: recognise shell shebang lines and include shell rules.
  python/populate_pre_commit.py
  python/populate_pre_commit_test.py
Due: basedpyright, black, mypy, pytest

chore: upgrade `golangci/golangci-lint-action@v9` to `golangci/golangci-lint-action@v9.2.0`
  python/workflows/golang_pre-commit.yml
Due: none

feat: add `JSON`, `TOML`, and lots of standard hooks.
  python/populate_pre_commit.py
  python/pre-commit-snippets/hooks.yaml
  python/pre-commit-snippets/json.yaml
  python/pre-commit-snippets/python.yaml
  python/pre-commit-snippets/toml.yaml
Due: basedpyright, black, mypy, pytest

fix: simplify snippet inclusion, refactor repeated code.
  python/populate_pre_commit.py
  python/populate_pre_commit_test.py
Due: basedpyright, black, mypy, pytest

feat: add caching to functions for deciding whether to include snippets.
  python/populate_pre_commit.py
  python/populate_pre_commit_test.py
Due: basedpyright, black, mypy, pytest

fix: find snippets directory when invoked through a symlink; use real snippets for testing.
  python/populate_pre_commit.py
  python/populate_pre_commit_test.py
Due: basedpyright, black, mypy, pytest

fix: stop installing Rust from brew, it has too many problems.
  install-extra-development-tools
  install-homebrew
Due: none

fix: pull before updating anything so the repository is up to date.
  update-routine-code-chores
Due: none

fix: remove hooks that cause problems.
  python/populate_pre_commit_test.py
  python/pre-commit-snippets/hooks.yaml
  python/pre-commit-snippets/python.yaml
Due: basedpyright, black, mypy, pytest

fix: when deciding whether to include `JSON` config, ignore `.vscode/settings.json`. Exclude `.vscode/settings.json` from `JSON` checks. Automatically fix `JSON` files.
  python/populate_pre_commit.py
  python/populate_pre_commit_test.py
  python/pre-commit-snippets/json.yaml
Due: basedpyright, black, mypy, pytest

fix: address `basedpyright` warnings.
  python/retry_tool.py
Due: basedpyright, black, mypy, pytest

feat: add the current working directory to log lines.
  python/retry_tool.py
Due: basedpyright, black, mypy, pytest

fix: move the loop over directories from `update-routine-code-chores` to `update-everything` so that I can retry individual directories rather than retrying all directories on failure.
  update-everything
  update-routine-code-chores
Due: none

fix: fix formatting.
  pyrightconfig.json
Due: none

chore: update pre-commit configuration
  .pre-commit-config.yaml
Due: none

fix: cleanup, and add a reference to Google's Python style guide.
  python/GEMINI.md
Due: markdownlint

chore: update `golangci/golangci-lint-action@v9.2.0` to `golangci/golangci-lint-action@v9.2.1`
  python/workflows/golang_pre-commit.yml
Due: none

fix: fix typo.
  install-extra-development-tools
Due: none

feat: install and use `cargo-binstall` and `sccache` for faster installation and compilation.
  install-extra-development-tools
Due: none

fix: only `git pull` if there is an upstream configured.
  update-routine-code-chores
Due: none

fix: there are too many ordering problems to run in parallel like this.
  update-everything-everywhere
Due: none

fix: refactor into small functions for clarity.
  update-everything
Due: none

fix: support Python 3.9.
  .pre-commit-config.yaml
  python/retry_tool.py
  python/retry_tool_test_with_system_python.sh
Due: basedpyright, black, mypy, pytest

feat: update Neovim plugins and parsers in `update-everything` rather than `dotfiles`, so all updates are grouped together and dotfiles is simpler.
  update-everything
Due: none

Path conditions:
  basedpyright: any of: \.py$
  black: any of: \.py$
  linkdirs-system-python-test: any of: python/linkdirs.*
  markdownlint: any of: \.(md|markdown|mdown)$
  mypy: any of: \.py$
  pytest: any of: \.py$
