Repository tobinjt/bin: changes, and which pre-commit hooks are due for each by the changed paths.
All: basedpyright, black, linkdirs-system-python-test, markdownlint, mypy, pytest

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-builtin-literals
        files: python/.*\.py$
      - id: check-case-conflict
      - id: check-docstring-first
        files: python/.*\.py$
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-vcs-permalinks
      - id: debug-statements
        files: python/.*\.py$
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: local
    hooks:
      # Using this instead of a packaged black check because it's trivial.
      - id: basedpyright
        name: Run `basedpyright`
        language: system
        types: [python]
        entry: basedpyright
      - id: black
        name: Run `black`
        language: system
        types: [python]
        entry: black --diff --check
      - id: linkdirs-system-python-test
        name: Run `linkdirs_test_with_system_python.sh`
        language: system
        files: python/linkdirs.*
        entry: ./python/linkdirs_test_with_system_python.sh
      - id: markdownlint
        name: Run `markdownlint`
        language: system
        types: [markdown]
        entry: markdownlint
      # Using this instead of a packaged mypy check because the packaged one
      # doesn't find modules in virtualenv.
      - id: mypy
        name: Run `mypy`
        language: system
        types: [python]
        entry: mypy --ignore-missing-imports --scripts-are-modules
      - id: pytest
        name: Run `pytest`
        language: system
        pass_filenames: false
        types: [python]
        entry: pytest
      - id: shellcheck
        name: Run `shellcheck`
        language: system
        types: [shell]
        entry: shellcheck
      - id: spellcheck
        stages: [commit-msg]
        name: Check spelling
        language: system
        verbose: true
        entry: spell-check-wrapper
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: python-check-blanket-noqa
      - id: python-check-blanket-type-ignore
      - id: python-check-mock-methods
      - id: python-no-eval
      - id: python-no-log-warn
      - id: python-use-type-annotations
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.3.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [--verbose]
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes

fix: `populate_pre_commit` needs `pathspec`, which isn't available without installing extra Python modules; skip if `populate_pre_commit` fails.
  update-everything
Due: none

Revert "fix: support Python 3.9."
  .pre-commit-config.yaml
  python/retry_tool.py
  python/retry_tool_test_with_system_python.sh
Due: basedpyright, black, mypy, pytest

feat: add a `--quiet` flag.
  python/retry_tool.py
  python/retry_tool_test.py
Due: basedpyright, black, mypy, pytest

fix: ignore `.antigravitycli/`
  .gitignore
Due: none

fix: I no longer need backwards compatibility with Python 3.9 for `run_everywhere`.
  .pre-commit-config.yaml
  python/run_everywhere_test_with_system_python.sh
Due: none

chore: update `actions/checkout` and `keep-sorted`.
  python/pre-commit-snippets/keep-sorted.yaml
  python/workflows/dependabot_validation.yml
  python/workflows/golang_pre-commit.yml
  python/workflows/rust_publish.yml
  python/workflows/rust_pull_request.yml
  python/workflows/rust_security_audit.yml
Due: none

fix: fix typo.
  update-everything
Due: none

fix: find locally installed packages in a `virtualenv`.
  python/pre-commit-snippets/pytest.yaml
Due: none

chore: update pre-commit configuration
  .pre-commit-config.yaml
Due: none

fix: only update packages when running as `johntobin`.
  update-everything
Due: none

feat: fake retry on old MacOS.
  update-everything
Due: none

fix: stop trying to invoke deleted code.
  update-nvim
Due: none

feat: update vale's accepted word list from Neovim word lists.
  update-everything
Due: none

feat: make `retry` handle the Python version not supporting the real implementation, by just running the program without retries.
  retry
  update-everything
Due: none

fix: remove `gemini` config, I have migrated to `antigravity`.
  cleanup_gemini_policies
  install-homebrew
  python/cleanup_gemini_policies.py
  python/cleanup_gemini_policies_test.py
Due: basedpyright, black, mypy, pytest

chore: update `actions/checkout`
  python/workflows/dependabot_validation.yml
  python/workflows/golang_pre-commit.yml
  python/workflows/rust_publish.yml
  python/workflows/rust_pull_request.yml
  python/workflows/rust_security_audit.yml
Due: none

feat: add support for copying Hugo workflow.
  python/make_github_workflows.py
  python/make_github_workflows_test.py
  python/workflows/hugo-johntobin.ie.yml
Due: basedpyright, black, mypy, pytest

fix: reduce the number of `pyright` errors suppressed.
  python/make_github_workflows_test.py
Due: basedpyright, black, mypy, pytest

fix: improve test coverage.
  python/populate_pre_commit_test.py
Due: basedpyright, black, mypy, pytest

fix: stop `brew upgrade` from requiring confirmation.
  brew-update-brew-cleanup
Due: none

feat: a tool to list uncovered code regions in JSON.
  cargo-list-untested-regions-in-json
Due: none

fix: put vale dictionary in the correct directory on MacOS.
  update-everything
Due: none

feat: turn updating vale accepted words into a separate tool for reuse.
  update-everything
  update_vale_acepted_words
Due: none

feat: support automatic generation of table of contents in `README.md`.
  python/populate_pre_commit.py
  python/populate_pre_commit_test.py
  python/pre-commit-snippets/readme-toc.yaml
Due: basedpyright, black, mypy, pytest

fix: reformat `args` to match other snippets.
  python/pre-commit-snippets/pytest.yaml
Due: none

chore: upgrade version of `rust-pre-commit-checks`.
  python/pre-commit-snippets/rust.yaml
Due: none

feat: install `copyparty`.
  install-homebrew
Due: none

fix: do not require confirmation when installing `sccache`.
  install-extra-development-tools
Due: none

feat: configure pyrefly and fix reported warnings.
  python/birthday.py
  python/linkdirs.py
  python/nines.py
  python/populate_pre_commit.py
  python/pyrefly.toml
Due: basedpyright, black, linkdirs-system-python-test, mypy, pytest

fix: change underscores to dashes in files starting with `update` because I always type `update-`.
  update-everything
  update-ssh-auth-sock
  update-vale-acepted-words
Due: none

feat: configure pyrefly hook.
  python/populate_pre_commit.py
  python/pre-commit-snippets/pyrefly.yaml
Due: basedpyright, black, mypy, pytest

feat: add Python workflow.
  python/make_github_workflows.py
  python/make_github_workflows_test.py
  python/workflows/python_pre-commit.yml
Due: basedpyright, black, mypy, pytest

feat: add Github workflows.
  .github/dependabot.yml
  .github/workflows/dependabot_validation.yml
  .github/workflows/python_pre-commit.yml
Due: none

fix: switch to `pathlib`.
  python/make_github_workflows.py
  python/make_github_workflows_test.py
Due: basedpyright, black, mypy, pytest

feat: change directory to the root of the repository so files are created in the right directory.
  python/make_github_workflows.py
  python/make_github_workflows_test.py
Due: basedpyright, black, mypy, pytest

fix: move `pyrefly.toml` to repository root so pyrefly can find modules in more circumstances.
  pyrefly.toml
  python/pyrefly.toml
Due: none

chore: update actions/checkout and actions/setup-python.
  python/workflows/dependabot_validation.yml
  python/workflows/golang_pre-commit.yml
  python/workflows/hugo-johntobin.ie.yml
  python/workflows/python_pre-commit.yml
  python/workflows/rust_publish.yml
  python/workflows/rust_pull_request.yml
  python/workflows/rust_security_audit.yml
Due: none

fix: switch to `pathlib`.
  python/populate_pre_commit.py
  python/populate_pre_commit_test.py
Due: basedpyright, black, mypy, pytest

feat: change directory to the root of the repository so files are created in the right directory.
  python/populate_pre_commit.py
  python/populate_pre_commit_test.py
Due: basedpyright, black, mypy, pytest

fix: refactor duplicated code into a module.
  pyrefly.toml
  python/get_git_root.py
  python/get_git_root_test.py
  python/make_github_workflows.py
  python/make_github_workflows_test.py
  python/populate_pre_commit.py
  python/populate_pre_commit_test.py
Due: basedpyright, black, mypy, pytest
