Repository tobinjt/bin: changes, and which pre-commit hooks are due for each by the changed paths.
All: basedpyright, black, linkdirs-system-python-test, markdownlint, mypy, pytest

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-builtin-literals
        files: python/.*\.py$
      - id: check-case-conflict
      - id: check-docstring-first
        files: python/.*\.py$
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-vcs-permalinks
      - id: debug-statements
        files: python/.*\.py$
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: local
    hooks:
      # Using this instead of a packaged black check because it's trivial.
      - id: basedpyright
        name: Run `basedpyright`
        language: system
        types: [python]
        entry: basedpyright
      - id: black
        name: Run `black`
        language: system
        types: [python]
        entry: black --diff --check
      - id: linkdirs-system-python-test
        name: Run `linkdirs_test_with_system_python.sh`
        language: system
        files: python/linkdirs.*
        entry: ./python/linkdirs_test_with_system_python.sh
      - id: markdownlint
        name: Run `markdownlint`
        language: system
        types: [markdown]
        entry: markdownlint
      # Using this instead of a packaged mypy check because the packaged one
      # doesn't find modules in virtualenv.
      - id: mypy
        name: Run `mypy`
        language: system
        types: [python]
        entry: mypy --ignore-missing-imports --scripts-are-modules
      - id: pytest
        name: Run `pytest`
        language: system
        pass_filenames: false
        types: [python]
        entry: pytest
      - id: shellcheck
        name: Run `shellcheck`
        language: system
        types: [shell]
        entry: shellcheck
      - id: spellcheck
        stages: [commit-msg]
        name: Check spelling
        language: system
        verbose: true
        entry: spell-check-wrapper
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: python-check-blanket-noqa
      - id: python-check-blanket-type-ignore
      - id: python-check-mock-methods
      - id: python-no-eval
      - id: python-no-log-warn
      - id: python-use-type-annotations
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.3.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [--verbose]
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes

feat: merge `dependabot` templates so that I can support mixed Go and Rust repositories.
  python/generic_dependabot.template
  python/make_go_github_workflow.py
  python/make_rust_github_workflow.py
  python/make_rust_github_workflow_test.py
  python/rust_dependabot.template
Due: basedpyright, black, mypy, pytest

fix: rename output files to include the language to prevent filename clashes in multi-language repositories.
  python/make_go_github_workflow.py
  python/make_rust_github_workflow.py
  python/make_rust_github_workflow_test.py
Due: basedpyright, black, mypy, pytest

fix: rename template files to `yml` for clarity.
  python/generic_dependabot.yml
  python/golang_workflow.yml
  python/make_go_github_workflow.py
  python/make_rust_github_workflow.py
  python/make_rust_github_workflow_test.py
  python/rust_publish_workflow.yml
  python/rust_pull_request_workflow.yml
  python/rust_release_workflow.yml
  python/rust_security_audit.yml
Due: basedpyright, black, mypy, pytest

feat: run `go imports` too.
  python/golang_workflow.yml
Due: none

fix: upgrade `golanglint-ci`.
  python/golang_workflow.yml
Due: none

feat: add a multi-language workflow generator.
  make_multi_language_github_workflow
Due: none

fix: rename workflow so source matches destination.
  python/golang_pre-commit.yml
  python/make_go_github_workflow.py
Due: basedpyright, black, mypy, pytest

fix: stop installing `pre-commit` hooks, that should be handled by callers.
  check-git-repos
Due: none

fix: disable repository checkout to fix `Govulncheck` failure.
  python/golang_pre-commit.yml
Due: none

fix: use `actions/setup-go@v6` due to `node20` deprecation.
  python/golang_pre-commit.yml
Due: none

fix: run tests in parallel so that multiple failures will be reported on timeout rather than just one.
  python/golang_pre-commit.yml
Due: none

feat: install `golang-coverage-check`
  install-extra-development-tools
Due: none

fix: don't include a comma on the last element of a multi-line `commandPrefix`.
  python/cleanup_gemini_policies.py
  python/cleanup_gemini_policies_test.py
Due: basedpyright, black, mypy, pytest

feat: automatically commit `rustfmt` changes.
  python/rust_pull_request_workflow.yml
Due: none

feat: a tool to update dependencies in different languages.
  update-dependencies
Due: none

fix: remove redundant check for existence of `.pre-commit-config.yaml`, the same check is performed in `update-pre-commit-hooks`.
  update-all-pre-commit-hooks
Due: none

feat: tooling to perform routine code maintenance chores in all directories.
  update-everything
  update-routine-code-chores
Due: none

fix: only try updating if the update tool is available.
  update-dependencies
Due: none

fix: specify `golang-coverage-check@latest`
  install-extra-development-tools
Due: none

fix: skip non-directories.
  update-routine-code-chores
Due: none

feat: simple tool to show processes that are connected to a terminal (filtering out the current terminal).
  pstty
Due: none

fix: do not use ssh for `localhost`; note, this is only for the literal `localhost`, a different hostname that resolves to the current machine will still use ssh.
  python/run_everywhere.py
  python/run_everywhere_test.py
Due: basedpyright, black, mypy, pytest

fix: support Linux.
  pstty
Due: none

feat: install `luacheck` and `zizmor`.
  install-homebrew
Due: none

feat: commit changes by `gofmt` and `goimports`.
  python/golang_pre-commit.yml
Due: none

fix: rename `generic_dependabot.yml` to `dependabot.yml` so that `zizmor` parses it correctly.
  python/dependabot.yml
  python/make_go_github_workflow.py
  python/make_rust_github_workflow.py
  python/make_rust_github_workflow_test.py
Due: basedpyright, black, mypy, pytest

fix: simplify workflow by combining jobs; add more checks.
  python/rust_publish_workflow.yml
Due: none

fix: cleanup workflow, add more checks, remove unnecessary steps.
  python/rust_pull_request_workflow.yml
Due: none

fix: only run every 7 days, more frequently is unnecessary.
  python/dependabot.yml
Due: none

feat: update Github workflows. Push changes.
  update-routine-code-chores
Due: none

fix: address `zizmor` warnings.
  python/rust_security_audit.yml
  python/zizmor.yaml
Due: none

fix: change `{program_name}` to `PROGRAM_NAME` so that `zizmor` can parse the config.
  python/github_workflow_utils.py
  python/github_workflow_utils_test.py
  python/make_rust_github_workflow.py
  python/make_rust_github_workflow_test.py
  python/rust_release_workflow.yml
Due: basedpyright, black, mypy, pytest

fix: remove `rust_release_workflow.yml`, there isn't much benefit to releasing on Github when I'm releasing on `crates.io`.
  python/github_workflow_utils.py
  python/github_workflow_utils_test.py
  python/make_go_github_workflow.py
  python/make_rust_github_workflow.py
  python/make_rust_github_workflow_test.py
  python/rust_release_workflow.yml
Due: basedpyright, black, mypy, pytest

fix: rename so the source file equals the destination file, removing the unnecessary `_workflow` from the filename.
  python/make_rust_github_workflow.py
  python/make_rust_github_workflow_test.py
  python/rust_publish.yml
  python/rust_pull_request.yml
Due: basedpyright, black, mypy, pytest

fix: fix incorrect permissions location.
  python/golang_pre-commit.yml
Due: none

fix: fix rule to trigger on `*.yml`
  .pre-commit-config.yaml
Due: none

fix: remove flaky and unnecessary test.
  python/linkdirs_test.py
Due: basedpyright, black, linkdirs-system-python-test, mypy, pytest

feat: run `actionlint` to validate Github workflows.
  .pre-commit-config.yaml
Due: none

fix: change permissions blocks to allow reading.
  python/golang_pre-commit.yml
  python/rust_publish.yml
  python/rust_security_audit.yml
Due: none

fix: run `git push` from the correct directory.
  update-routine-code-chores
Due: none
